@import "Colors.scss";

.out {
	margin-top: 9rem;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #0626a3;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 25px;
}

.addNew {
	margin-top: 3rem;

	.backContainer {
		width: 100vw;
		display: flex;
		justify-content: left;
		margin-bottom: 2rem;

		.goBack {
			margin-left: 1.25rem;
		}

	}
	
	.saveEntry {
		position: fixed;
		bottom: 1.5rem;
		right: 1.5rem;
	}

	.topBar {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90vw;
		margin: 0 auto;
		padding: 0.5rem 1rem;
		border: 3px solid rgba(white, 0.3);
		border-color: rgba(white, 0.3) rgba(white, 0.3) transparent rgba(white, 0.3);
		border-radius: 8px 8px 0 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1rem;

		.geminiEnable {
			cursor: pointer;
			display: flex;
			gap: .2rem;
			margin: 0 .5rem;
			justify-content: center;
			align-items: center;

			span {
				font-size: large;
				font-weight: 600;
			}
		}

		.mood {
			border: 3px solid rgba(white, 0.6);
			border-radius: 8px;
			padding: 0.7rem;
			display: flex;
			justify-content: center;

			&.edit {
				cursor: pointer;
			}

			svg {
				stroke-width: 0.15;
				stroke: black;
			}
		}

		.edit {
			font-weight: 600;
		}

		.delete {
			// border: none ;
			background: none;
			// background-color: none;
			// background-size: 0;
			// margin: 0 0 0 1rem !important;
			padding: 0.5rem;
			// border-radius: 50%;
			// margin: auto 0;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				background-color: rgba(red, 0.08);
				color: rgb(218, 3, 3);
			}
		}
	}

	.editorToolbar {
		height: auto;
		width: 90vw;
		margin: 0 auto;
		padding: 0.5rem 1rem;
		// border-radius: 8px 8px 0 0;
		border: 3px solid rgba(white, 0.3);
		background-color: rgba(white, 0.2);

		div {
			div.rdw-option-wrapper,
			div.rdw-dropdown-wrapper {
				background-color: rgba(white, 0.3);
				border-style: none;

				&.rdw-option-active {
					background-color: rgba(white, 0.8);
					border-style: none;
				}
			}

			div.rdw-dropdown-wrapper {
				a.rdw-dropdown-selectedtext {
					span {
						color: black;
					}
				}

				ul {
					background-color: #e6ac64;
					border: 1px solid white;
					border-radius: 0 0 8px 8px;

					li.rdw-dropdownoption-default {
						transition: background-color 0.15s ease;
					}

					li.rdw-dropdownoption-default:hover {
						background-color: rgba(white, 0.3);
					}

					li.rdw-dropdownoption-active {
						background-color: rgba(white, 0.5);
					}
				}
			}

			div.rdw-fontsize-dropdown {
				padding: 0 0.5rem;
			}
		}
	}
}

input.titleInput {
	font-family: "Jost";
	font-weight: 600;
	width: 90vw;
	padding: 2rem 1rem;
	background-color: rgba(black, 0.02);
	font-size: 20px;

	border-style: none;
	border: 3px solid rgba(white, 0.3);
	color: black;
	border-color: rgba(white, 0.3) rgba(white, 0.3) transparent rgba(white, 0.3);

	&::placeholder {
		color: rgba(black, 0.6);
	}

	&:focus {
		&::placeholder {
			color: rgba(black, 0.3) !important;
		}
	}
}

.DraftEditor-root {
	min-height: 80vh;
	width: 90vw;
	color: black;
	background-color: rgba(black, 0.02);
	border: 3px solid rgba(white, 0.3);
	border-color: transparent rgba(white, 0.3) rgba(white, 0.3) rgba(white, 0.3);
	border-radius: 0 0 8px 8px;
	padding: 1rem;
	margin: 0 auto;

	.DraftEditor-editorContainer {
		// background-color: red;
		position: relative;
		height: 100% !important;
	}

	.public-DraftEditorPlaceholder-root {
		color: rgba(black, 0.6);

		.public-DraftEditorPlaceholder-inner {
			margin-top: 1rem;
		}
	}

	.public-DraftEditorPlaceholder-hasFocus {
		color: rgba(black, 0.2) !important;
	}
}

.addNew.view {
	.editorToolbar {
		display: none;
	}

	.titleInput {
		padding-bottom: 0;
		color: rgba(black, 0.8);
	}

	.DraftEditor-root {
		color: rgba(black, 0.8);
	}
}

.errorMessage {
	font-size: 20px;
	font-weight: 600;

	color: rgb(149, 41, 20);
}

// !

.mood {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content {
	display: none;
	padding: 1rem;
	margin: 0;
	position: absolute;
	top: 50px;
	grid-template-columns: repeat(5, 1fr);
	/* grid-template-rows: repeat(3, 1fr); */
	/* grid-auto-columns: minmax(0, 1fr); */
	grid-auto-flow: row;
	// grid-column-gap: 15px;
	/* grid-row-gap: 15px; */
	/* background-color: rgb(236, 197, 172); */
	background-color: #efa96c;
	border: 3px solid #ffe8d5;
	border-radius: 8px;
	width: max(350px, 80%);
	height: 140px;
	z-index: 2;
	transition: all 0.3s ease;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.dropdown-content.show {
	display: grid;
	top: 2.5rem;
}

// !

.dropdown-content .item {
	font-size: 12px;
	display: flex;
	flex-direction: column;
}

.dropdown-content .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80% !important;
}

.dropdown-content .icon svg {
	size: 30px !important;
}

.dropdown-content .name {
	max-height: 20px;
	max-width: 70px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: max-height 0.35s cubic-bezier(0, 1.2, 0, 1.05);
}

.dropdown-content div.item:hover .name {
	max-height: 40px;
	white-space: pre-wrap;
	overflow: visible;
}

/* .nav-items-container .dropdown-content-item div.moods-icon .dropdown-content.open {
	display: grid;
	z-index: 2;
	height: 200px;
} */

.dropdown-content div.item {
	cursor: pointer;
	/* background-color: rgba(200,200,200, .2); */
	word-break: break-word;
	transition: all 0.3s ease;
	border-radius: 50%;
	display: flex;
	justify-content: center;

	& span.icon svg {
		color: darken($brown, 10);
		stroke-width: 0.25;
		stroke: black;
	}
}

.dropdown-content div:hover {
	background-color: rgba(255, 255, 255, 0.3);
}


.geminiResponse {
	width: 90vw;
	margin: 2rem auto;
	min-height: 300px;
	max-height: max-content;
	padding: 1rem;

	border: 2px solid white;
	border-radius: 8px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 2rem;

	.niyaSays {
		font-weight: 600;
		font-size: x-large;
	}

	.response {
		text-align: left;
		font-size: large;
	}
}