

.appDiseaseId {
    height: 100vh;
    overflow-y: auto;

    .topBanner {
        margin-top: 7rem;
    }

    .panel {
        display: none;
    }

    .panel.show {
        display: block;
    }


}