

.change {
    position: relative;
    // background-color: red;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span {
            position: relative;
            left: 10px;
            top: 10px !important;
            padding: 0 .3rem;
            background-color: #f4c49a;
        }

        input {
            background-color: transparent;
            border: 2px solid rgba(white, .7);
            padding: 1rem 2rem 1rem 1rem;
            border-radius: 8px;
        }
    }
}