$bg: #17181f;
$bg-unsaturated: #070419;

$primary1: #6372cb;
$primary2: #cb69c1;

$text: rgb(230, 230, 230);

$checkbox-normal: rgb(44, 49, 60);
$checkbox-border: rgb(58, 66, 81);
$checkbox-border-hover: rgb(70, 80, 99);

$info_div_bg: rgb(181, 57, 57);