.Hero {
	color: #111;
	// font-size: 90px;
	// font-weight: 900;
	display: flex;
	flex-direction: column;
	gap: 0;
	width: 100%;
	height: auto;

	section {
		min-height: 85vh;
		max-height: max-content;
	}

	// section.hi {
	// 	min-height: 80vh;
	// }

	section.hi {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
		margin-top: 40px;

		.avatarWrapper {
			width: auto;
			display: flex;
			align-items: flex-end;
			justify-content: center;

			.image-container {
				align-items: flex-end;
			}
		}

		.welcomeTextContainer {
			position: relative;
			margin-top: auto;
			margin: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1rem;

			.welcomeText {
				font-size: 80px;
				margin: 0;
				font-weight: 700 !important;
			}

			.niyaLabel {
				cursor: crosshair;
				text-shadow: -1px -1px 0 transparent, 1px -1px 0 transparent, -1px 1px 0 transparent,
					1px 1px 0 transparent;
				transition: color 0.2s cubic-bezier(0.28, 0.76, 0, 2.91);

				&:hover {
					text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
					color: #3a93dc;
				}
			}

			.subText {
				font-size: 20px;
			}
		}
	}

	section.about {
		// background-color: rgba($color: #fff, $alpha: 0.6);
		background-color: #f7d7b9;
		height: 80vh;

		h1 {
			margin-bottom: 2rem;
		}

		.aboutText {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			width: 80%;
			// height: 100%;
			margin: auto;
		}

		.aboutImageWrapper {
			// display: flex;
			// justify-content: center;
			// align-items: center;

			// .image-container {
			// 	width: 330px;
			// 	height: 330px;
			// }
		}

		.aboutTextWrapper {
			font-size: 18px;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			width: 80%;

			// .aboutOpener {
			// 	display: block;
			// 	// background-color: red;
			// }

			// .aboutOpener.mobile {
			// 	display: none;
			// }

			div {
				text-align: left;
			}

			.otherFeatures {
				ul {
					display: flex;
					gap: 0.3rem;
					// list-style: circle;
				}
			}
		}
	}

	section.try {
		width: 100%;

		.tryWrapper {
			width: 90%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 auto;

			.tryTextWrapper {
				display: block;

				div:not(.otherFeatures) {
					padding-top: 0;
				}

				.otherFeatures .featuresWrapper {
					list-style: none;
					max-width: 90%;
					margin: 1rem auto;
					padding: 0;
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows: repeat(2, 1fr);
					grid-auto-columns: minmax(0, 1fr);
					grid-auto-flow: column;
					grid-column-gap: 15px;
					grid-row-gap: 15px;

					li {
						min-height: 50px;
						// max-width: 150px;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 0.5rem;
						border-radius: 8px;
						background: rgba(#fff, 0.2);
						box-shadow: 0 1px 5px 1px rgba(#4f4f4f, 0.5);
					}
				}
			}

			.tryTextWrapperMobile {
				display: none;
			}
		}
	}

	section.login {
		.loginWrapper {
			min-height: 80vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 3rem;
		}
	}
}

@media screen and (max-width: 720px) {
	.navbar {
		width: 90%;
		margin: 0 auto;
	}

	.features {
		// margin-top: 40px;
		background-color: rgba($color: #fff, $alpha: 0.6);
	}

	.hi {
		flex-direction: column-reverse !important;
		margin-top: 140px !important;
		height: 90vh !important;

		.avatarWrapper {
			max-width: max-content;
			height: 420px;
			margin: 0 auto;

			img {
				// height: 500px;
				width: 450px;
				height: 400px;
				object-fit: contain;
			}
		}

		.welcomeTextContainer {
			height: 100%;
			background-color: #f7d7b9;

			// .subText {
			// 	display: none;
			// }
		}
	}

	.about {
		// margin-top: 2.5rem;
		height: 80vh !important;
		// background: linear-gradient(to top, transparent, #f7d7b9 30% ) !important;
		justify-content: center;
		align-items: center;

		.aboutText {
			width: 94% !important;
			height: 60%;
			margin-top: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			// padding: auto 0 !important;

			.aboutImageWrapper {
				display: none;
			}

			.aboutTextWrapper {
				width: 100%;
				gap: 1rem;

				div {
					// margin: 0 auto;
					// text-align: center;
					// text-align-last: center;
				}

				// .machineLearningInfo {
				// 	display: none;
				// }

				// .aboutOpener {
				// 	display: none;
				// }

				// .aboutOpener.mobile {
				// 	display: block;
				// }
			}
		}
	}

	.try {
		.tryWrapper {
			width: 100%;
			height: 100%;

			.tryTextWrapper {
				div:not(.otherFeatures) {
					padding-top: 1.5rem !important;
				}
			}
		}
	}
}
