.nav-wrapper {
	width: 99%;
	position: -webkit-sticky; /* Safari */
	position: fixed;
	top: 20px;
	/* background-color: rgba(211, 211, 211, 0.7); */
	z-index: 10;
	transition: all 0.4s ease;
}

.grad-bar {
	width: 100%;
	height: 5px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradbar 15s ease infinite;
	-moz-animation: gradbar 15s ease infinite;
	animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
	height: 70px;
	width: 95%;
	margin: 0 auto;
	/* overflow: hidden; */
	box-shadow: 0 10px 15px rgba(22, 22, 22, 0.2);
	backdrop-filter: blur(7px);
	transition: all 0.3s ease;
}

.navbar.noeff {
	box-shadow: none;
	backdrop-filter: none;
}

.navbar img {
	height: 32px;
	width: auto;
	justify-self: start;
	margin-left: 20px;
}

.nav-items-container {
	display: flex;
	justify-content: flex-end;
}

li.nav-item div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-items-container ul li.nav-item div.apps-icon ul.apps-dropdown {
	padding: 1rem;
	margin: 0;
	position: absolute;
	top: 50px;
	right: 1.2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* grid-template-rows: repeat(3, 1fr); */
	/* grid-auto-columns: minmax(0, 1fr); */
	grid-auto-flow: row;
	grid-column-gap: 15px;
	/* grid-row-gap: 15px; */
	/* background-color: rgb(236, 197, 172); */
	background-color: #efa96c;
	border: 3px solid #ffe8d5;
	border-radius: 8px;
	width: max(350px, 80%);
	height: 200px;
	z-index: 2;
	transition: all 0.3s ease;
}


ul.apps-dropdown .item {
	font-size: 12px;
	display: flex;
	flex-direction: column;
}

ul.apps-dropdown .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80% !important;
}

ul.apps-dropdown .icon svg {
	size: 30px !important;
}

ul.apps-dropdown .name {
	max-height: 20px;
	max-width: 70px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: max-height 0.35s cubic-bezier(0, 1.2, 0, 1.05);
}

ul.apps-dropdown li.item:hover .name {
	max-height: 40px;
	white-space: pre-wrap;
	overflow: visible;
}

/* .nav-items-container ul li.nav-item div.apps-icon ul.apps-dropdown.open {
	display: grid;
	z-index: 2;
	height: 200px;
} */

ul.apps-dropdown li {
	cursor: pointer;
	/* background-color: rgba(200,200,200, .2); */
	word-break: break-word;
	transition: all 0.3s ease;
}

ul.apps-dropdown li:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

/* FOR /hero ROUTE (HERO PAGE) have 3 columns */
.nav-items-container.\/hero ul.nav {
	/* margin-right: 0; */
	grid-template-columns: repeat(3, 1fr);
}

.navbar .nav-items-container ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(2, 0.5fr);
	justify-self: end;
	/* margin-right: 1rem; */
	height: 100%;
}

.nav-items-container ul.signed-in {
	grid-template-columns: repeat(3, 0.5fr);
}


.navbar .nav-items-container ul li {
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.nav-item {
	padding: 0 1rem;
}

.nav-items-container.\/hero ul.signed-in li.nav-item:has(.account-icon) {
	padding: 0 !important;
}

.nav-items-container:not(:has(.hero)) ul li {
	padding: 0 1rem;
}

.nav-item a {
	color: #181818;
	/* outline: 10px white; */
	font-size: 1.3rem;
	font-weight: 600;
	text-decoration: none;
	transition: color 0.3s ease-out;
	/* filter: invert(1); */
	isolation: isolate;
	mix-blend-mode: difference !important;
}

.nav-item a:hover {
	color: #3498db;
}

.nav-item.apps {
	max-width: 50px !important;
	height: 100% !important;
}


.nav-item .account-icon {
	cursor: pointer;
}

.nav-item .account-icon svg {
	padding: 0.2rem;
	background-color: transparent;
	border-radius: 50%;
	color: #1f1f1f;
	transition: all 0.3s ease;
}

.nav-item .account-icon svg:hover {
	background-color: #2d2d2d;
	color: #3498db;
}

/* SEARCH FUNCTION */

#search-icon {
	font-size: 0.9rem;
	margin-top: 3px;
	margin-left: 15px;
	transition: color 0.3s ease-out;
}

#search-icon:hover {
	color: #3498db;
	cursor: pointer;
}

.search {
	transform: translate(-35%);
	-webkit-transform: translate(-35%);
	transition: transform 0.7s ease-in-out;
	color: #3498db;
}

.no-search {
	transform: translate(0);
	transition: transform 0.7s ease-in-out;
}

.search-input {
	position: absolute;
	top: -4px;
	right: -125px;
	opacity: 0;
	z-index: -1;
	transition: opacity 0.6s ease;
}

.search-active {
	opacity: 1;
	z-index: 0;
}

input {
	border: 0;
	border-left: 1px solid #ccc;
	border-radius: 0; /* FOR SAFARI */
	outline: 0;
	padding: 5px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
	width: 25px;
	height: 3px;
	background-color: #3f3f3f;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.menu-toggle {
	justify-self: end;
	margin-right: 25px;
	display: none;
}

.menu-toggle:hover {
	cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
	opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
	-webkit-transform: translateY(8px) rotate(45deg);
	-ms-transform: translateY(8px) rotate(45deg);
	-o-transform: translateY(8px) rotate(45deg);
	transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
	-webkit-transform: translateY(-8px) rotate(-45deg);
	-ms-transform: translateY(-8px) rotate(-45deg);
	-o-transform: translateY(-8px) rotate(-45deg);
	transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
	.features {
		flex-direction: column;
		padding: 50px;
	}

	/* MOBILE HEADINGS */

	h1 {
		font-size: 1.9rem;
	}

	h2 {
		font-size: 1rem;
	}

	p {
		font-size: 0.8rem;
	}

	/* MOBILE NAVIGATION */

	.nav-items-container ul {
		min-width: 90% !important;
		margin: 0 auto;
	}

	.nav-items-container .name {
		width: 100%;
	}
}

/* 
.appsanim-enter {
    height: 0;
}

.appsanim-enter .prompt {
    transform: scale(0.8);
}

.appsanim-enter-active {
    height: 10px;
}

.appsanim-enter-done{
    height: 0;
}

.appsanim-exit {
    height: 10px;
}

.appsanim-exit .prompt {
    transform: scale(1);
}

.appsanim-exit-active {
    height: 0;
}

.appsanim-exit-active .prompt {
    transform: scale(0.8);
} */

.appsanim-enter {
    opacity: 0 !important;
	height: 0;
}

.appsanim-enter-active {
    opacity: 1 !important;
}

.appsanim-enter-done {
    opacity: 1 !important;
	height: 200px;
}

.appsanim-exit {
    opacity: 1 !important;
}

.appsanim-exit-active {
    opacity: 0 !important;
	height: 0;
}