.notifications.container {
	width: 350px;
	z-index: 99999999;
	display: grid;
	gap: 1rem;
	position: fixed;
	right: 2rem;
	top: 2rem;
	transition: 0.125s opacity;
	&.focus .notif {
		visibility: hidden;
	}
	&.focus .notif.important {
		visibility: visible;
	}
	.notifications.list {
		display: flex;
		flex-direction: column-reverse;
		gap: 1rem;
	}
	.notif {
		user-select: none;
		.icon {
			color: var(--sub-color);
			padding: 1rem 1rem;
			align-items: center;
			display: grid;
			font-size: 1.25em;
		}
		.message {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			text-align: left;
			padding: 1rem;
			// color: var(--text-color);
			.title {
				color: var(--sub-color);
				font-size: 0.75em;
			}
		}

		position: relative;
		//   background: var(--sub-alt-color);
		background-color: #e0ab6a;
		color: var(--sub-color);
		display: grid;
		grid-template-columns: min-content auto min-content;
		border-radius: 8px;
		// outline-width: 0.25em;
		// outline-style: solid;
		// outline-color: var(--sub-color);
		box-shadow: 0 0 0 0.2em #e0ab6a;

		&.error {
			background-color: rgb(236, 100, 100);
			box-shadow: 0 0 0 0.2em rgb(236, 100, 100);
			color: black;
			.icon {
				color: black;
			}
		}

		&.success {
      background-color: rgb(83, 198, 83);
			box-shadow: 0 0 0 0.2em rgb(83, 198, 83);
			color: black;
			.icon {
				color: black;
			}
		}

		&:hover {
			// opacity: .5;
			// box-shadow: 0 0 20px rgba(0,0,0,.25);
			cursor: pointer;
			&::after {
				opacity: 1;
			}
		}
		&::after {
			transition: 0.125s;
			// font-family: "Jost";
			background: rgba(0, 0, 0, 0.3);
			color: #1f1f1f;
			opacity: 0;
			font-weight: 700;
			// content: "\f00d";
			content: "X";
			position: absolute;
			width: 100%;
			height: 100%;
			// color: inherit;
			font-size: 2.5rem;
			display: grid;
			/* align-self: center; */
			align-items: center;
			text-align: center;
			border-radius: 8px;
		}
	}
}
