@import "./Colors.scss";

.prompt_overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 70;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: .95);
    opacity: 0.99;
    transition: all 200ms cubic-bezier(1, 0, 0, 1);

    .close {
        z-index: 70;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    .prompt {
        z-index: 70;
        // background-color: lighten($color: #f8cf9c, $amount: 10);
        color: $text;
        min-height: 300px;
        max-height: 90%;
        width: min(80%, 400px);
        border-radius: 15px;
        padding: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        box-shadow: lighten($color: $bg, $amount: 8) 0 0 40px 1px;
        transition: all 200ms cubic-bezier(1, 0, 0, 1);

        .header {
            background-color: lighten($color: $bg, $amount: 10);
            height: 60%;
            font-size: 25px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            text-align: center;
            margin-bottom: 2rem;
        }

        .content {
            width: 100%;
            display: flex;
        }
    }
}



.promptanim-enter {
    opacity: 0;
}

.promptanim-enter .prompt {
    transform: scale(0.8);
}

.promptanim-enter-active {
    opacity: 1;
}

.promptanim-enter-active .prompt {
    transform: scale(1);
}

.promptanim-exit {
    opacity: 1;
}

.promptanim-exit .prompt {
    transform: scale(1);
}

.promptanim-exit-active {
    opacity: 0;
}

.promptanim-exit-active .prompt {
    transform: scale(0.8);
}