
div.Quotes {
	height: 100vh !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(57, 18, 10);

	div.quoteDiv {
		width: min(70%, 700px);
		padding: 1rem;
		z-index: 2;
		font-size: 30px;

		.quote {
			font-weight: 700;
			padding-bottom: 1rem;
		}

		.author {
			// background-color: blue;
			font-weight: 600;
			font-size: 24px;
			margin-left: auto;
			margin-right: 0;
			float: right;
		}
	}

	.getNewQuote {
		position: fixed;
		bottom: 2rem;
        margin: 0 auto;
		height: 70px;
		width: 70px;
		cursor: pointer;
		background-color: transparent;
		border: 3px solid rgb(57, 18, 10);
		border-radius: 50%;
		padding: 1rem;
		color: rgb(57, 18, 10);
        transition: all 3s ease;
		animation: none;

		&:hover {
			background-color: transparent;
			border-color: rgb(57, 18, 10);
		}

		&.play {
			animation: rotate 1s infinite ease;
		}
	}
}

.blob {
	position: absolute;
	height: 100vh;
	width: 100vw;
}


@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(359deg);
	}
}