#root {
	/* max-width: 1280px; */
	text-align: center;
	/* height: 100vh !important; */
	width: 100vw !important;
	overflow-x: hidden;
	/* background-color: yellow; */

	background: linear-gradient(to bottom, #f8cf9c, #f6c180);
	opacity: 0.7;
	/* background-image: linear-gradient(135deg, #fff07b 25%, transparent 25%),
		linear-gradient(225deg, #fff07b 25%, transparent 25%), linear-gradient(45deg, #fff07b 25%, transparent 25%),
		linear-gradient(315deg, #fff07b 25%, #ff9452 25%);
	background-position: 7px 0, 7px 0, 0 0, 0 0;
	background-size: 7px 7px;
	background-repeat: repeat; */
}
