@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");

:root {
	font-family: "Jost";
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: rgba(10, 10, 10, 0.95);
	background-color: #000000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	height: 100%;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

html {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	display: flex;

	/* place-items: center; */
	/* min-width: 320px; */
	/* min-height: 100vh; */
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	/* color: rgb(10, 10, 10); */
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* CODE FOR HOVER POPUP ARIA LABEL */

.popup[aria-label] {
	position: relative;
}

.popup[aria-label]:after {
	content: attr(aria-label);
	/* display: none; */
	opacity: 0;
	position: absolute;
	top: 0;
	left: -50px;
	max-width: 250px;
	min-width: 200px;
	/* ! DYNAMIC WIDTH FIX */
	height: auto;
	overflow-wrap: break-word;
	text-align: center;
	/* z-index: 101; */
	pointer-events: none;
	padding: 1rem;
	/* padding-bottom: 1.5rem; */
	line-height: 15px;
	/* white-space: nowrap; */
	text-decoration: none;
	text-indent: 0;
	overflow: visible;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	text-shadow: 1px 0 1px #888;
	background-color: #1a1a1a;
	-webkit-border-radius: 2px;
	border-radius: 8px;
	-webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
	transition: all 0.15s ease;
}

.popup[aria-label]:hover:after,
.popup[aria-label]:focus:after {
	/* display: block; */
	opacity: 1;
	top: -60px;
}

/* CODE FOR POPUP ARIA LABEL END */

.dottedUnderline {
	text-decoration: underline dotted;
	cursor: crosshair;
}

/* CODE FOR SNAP BUTTON */

.mainBtnWrapper {
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
}

/* button */
.mainBtn {
	color: #111 !important;
	font-weight: 600;
	font-size: 18px;
	display: block;
	padding: 0.8rem 0.1rem;
	padding: 0.3rem;
	border: none;
	border-radius: 1px;
	width: 100px;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	border: 3px solid black;
	font-family: "Jost", sans-serif;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.mainBtn:focus {
	outline: none;
}
.mainBtn > span {
	vertical-align: top;
}

.mainBtn span svg {
	vertical-align: top;
}

.mainBtn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: #0d3bba;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.mainBtn:hover {
	color: rgb(221, 221, 221) !important;
	border-color: rgb(29, 29, 29);
	cursor: pointer;
}
.mainBtn:hover::before {
	opacity: 1;
	background-color: rgb(36, 36, 36);
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/* CODE FOR SNAP BUTTON END */

/* CODE FOR DOUBLE SNAP BUTN */

.doubleBtnWrapper {
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
}

/* button */
.doubleBtn {
	color: #111 !important;
	font-weight: 600;
	font-size: 18px;
	display: block;
	/* padding: 0.8rem 0.1rem; */
	padding: 0.6rem;
	border: none;
	border-radius: 1px;
	/* width: 150px; */
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	border: 3px solid black;
	font-family: "Jost", sans-serif;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition: border-color 0.3s, color 0.3s;
	transition: border-color 0.3s, color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.doubleBtn:focus {
	outline: none;
}
.doubleBtn > span {
	vertical-align: top;
}

.doubleBtn span svg {
	vertical-align: top;
}

.doubleBtn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	background: #0d3bba;
	z-index: -1;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s, background-color 0.4s;
	transition: transform 0.4s, opacity 0.4s, background-color 0.4s;
}
.doubleBtn:hover {
	color: rgb(221, 221, 221) !important;
	border-color: rgb(29, 29, 29);
	cursor: pointer;
}
.doubleBtn:hover::before {
	opacity: 1;
	background-color: rgb(36, 36, 36);
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.doubleBtn::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 180%;
	height: 80%;
	background: #b20a85;
	z-index: -1;
	-webkit-transform: rotate3d(1, 0, 0, 45deg) translate3d(0, 3em, 0);
	transform: rotate3d(1, 0, 0, 45deg) translate3d(0, 3em, 0);
	-webkit-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s, background-color 0.4s;
	transition: transform 0.4s, opacity 0.4s, background-color 0.4s;
}

.doubleBtn:hover::after {
	opacity: 1;
	background-color: rgb(36, 36, 36);
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/* CODE FOR SNAP BUTTON END */

.noMobileTapHighlight {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.noMobileTapHighlight:focus {
	outline: none !important;
}
